@use "@/styles/variables" as v;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: v.$bg-primary;
  color: v.$text-primary;
}

body {
  min-height: 100vh;
}

.error-container {
  padding-top: 4rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.error-stack {
  width: 100%;
  padding: 1rem;
  overflow-x: auto;
  background-color: rgba(v.$white, 0.05);
  border: 1px solid v.$border-color;
  border-radius: 4px;
}
