@use "@/styles/variables" as v;

.isciDashboard {

  .dashboardContent {
    background: v.$black;
    border-radius: 8px;
    border: 1px solid v.$border-color;
    padding: 1.5rem;
    margin: 0px auto;
    width: 90%;
  }

  h2{
    text-transform:uppercase;
    margin:0px 0px 3rem 0px;
  }

  .loadingState {
    text-align: center;
    padding: 3rem 1rem;
    color: v.$text-secondary;
    font-size: 1.125rem;
  }

  .searchBar {
    margin-bottom: 1.5rem;
    width:50%;
    input {
      width: 100%;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      border: 1px solid v.$border-color;
      border-radius: 6px;
      transition: all 0.2s;
      background-color: rgba(v.$white, 0.05);
      color: v.$text-primary;

      &:focus {
        outline: none;
        border-color: v.$accent;
        box-shadow: 0 0 0 3px rgba(v.$accent, 0.2);
      }

      &::placeholder {
        color: v.$text-secondary;
      }
    }
  }
}
