@use "@/styles/variables" as v;

.adminPage {
  min-height: 100vh;

  .pageContent {
    background: v.$black;
    border-radius: 0px 0px 32px 32px;
    margin: 0 auto;
    width: calc(100% - 4rem);
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .stickyHeader {
    position: sticky;
    top: 0;
    background: v.$black;
    padding: 5rem 3rem 0 3rem;
    z-index: 10;

    h2 {
      text-transform: uppercase;
      margin: 0 0 2rem 0;
    }
  }

  .scrollableContent {
    flex: 1;
    padding: 0 3rem 2rem 3rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}
